.gradle
build
/bin
.idea/
.classpath
.externalToolBuilders/
.project
.settings/
gradle.properties
etc/
*.iml
lightside/build.xml
lightside/
out/
classes/
src/main/resources/saml/excelsior-metadata.xml
src/main/resources/saml/samlKeystore.jks
src/main/resources/saml/logintest-metadata.xml
src/main/resources/daacs.properties
